@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&family=M+PLUS+1p:wght@400;500;700&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    background-color: rgb(127, 86, 85);
    color: white;
    text-align: center;
    width: 100vw;
    height: 100vh;
    height: calc(var(--vh, 1vh) * 100);
}
